/*
 *
 *	BASE STYLES
 *
 */


h1, h2 {
	font-family: 'Cabin', sans-serif;
}

article, aside {
	display: inline-block;
	vertical-align: top;
}

article {
	width: 70%;
	padding: 10px;
}

aside {
	width: 30%;
	padding: 10px;
}

/*
 *
 *	LAYOUT
 *
 */

.container {
	width: 70%;
	max-width: 960px;
	margin: 0 auto;
}

.navbar {
	width: 100%;
	border-bottom: 1px solid black;
}

.right {
	float: right;
}
.user-info {
	padding: 10px;
}

/* PAGES */
#home {
	background: white url("../img/color-run.jpg") no-repeat fixed center;
	background-size: cover;
	position: relative;
	height: 100vh;
}
#message {
	font-size: 24px;
}
#login {
	background: white url("../img/brooklyn-bridge.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}
#login ul, #signup ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#signup {
	background: white url("../img/business.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

.center {
	text-align: center;
}
/* THEMES */
.box {
	background-color: rgba(255,255,255,0.7);
	border-radius: 25px;
	padding: 25px;

	position: absolute;
	top: 25%;
	left: 25%;
	margin-right: -50%;
}

.box h1 {
	color: black;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 3px rgba(255,255,255,.5);
}

.box a {
	text-decoration: none;
	color: black;
	font-family: Helvetica, sans-serif;
}

.button {
	display: inline-block;
	text-align: center;
	padding: 0.5em 2em .55em;
	background: gray; /* for browsers that don't support gradient */
	background: -webkit-linear-gradient(top, #a9a9a9 31%, #d3d3d3 100%); /* safari */
	background: -moz-linear-gradient(top, #a9a9a9 31%, #d3d3d3 100%); /* firefox */
	background: -o-linear-gradient(top, #a9a9a9 31%, #d3d3d3 100%); /* opera */
	background: -ms-linear-gradient(top, #a9a9a9 31%, #d3d3d3 100%); /* edge */
	background: linear-gradient(to bottom, #a9a9a9 31%, #d3d3d3 100%);

	border-radius: 25px;
	border: 1px solid gray;

	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}
/* VENDORS */
#progressbar span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #329ad1;
}

/*
Error on signup.html
*/
span.error{
	color: red;
}

.barImage {
    width: 400px;
    height: 40px;
    position: relative;
}

.tile { 
    float: left;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}
#op {
  opacity: .5; 
}

#op:hover {
  opacity: 1; 
}

#next {
  opacity: .5; 
}

#next:hover {
  opacity: 1; 
}