/*
 *
 *	BASE STYLES
 *
 */


h1, h2 {
	font-family: 'Cabin', Helvetica, sans-serif;
}

article, aside {
	display: inline-block;
	vertical-align: top;
}

article {
	width: 70%;
	padding: 10px;
}

aside {
	width: 30%;
	padding: 10px;
}

nav {
	padding-left: 10%;
	padding-right: 10%;
	background-color: white;
}

/*
 *
 *	LAYOUT
 *
 */

.container {
	width: 70%;
	max-width: 960px;
	margin: 0 auto;
}

.main {
	background-color: rgba(255,255,255,0.7);
	border-radius: 25px;
}

.navbar {
	width: 100%;
	border-bottom: 1px solid black;
}

.right {
	float: right;
}

.user-info {
	padding: 10px;
}

/*
 * 
 * PAGES
 *
 */

#home {
	background: white url("../img/color-run.jpg") no-repeat fixed center;
	background-size: cover;
	position: relative;
	height: 100vh;
}

#profile {
	background: white url("../img/desk-supplies.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#login {
	background: white url("../img/brooklyn-bridge.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#signup {
	background: white url("../img/business.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#settings {
	background: white url("../img/pencil.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#new-challenge {
	background: white url("../img/tools.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#confirmation {
	background: white url("../img/train-tracks.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#unauthorized {
	background: white url("../img/hiking-feet.jpg") no-repeat fixed center;
	background-size: 100%;
	position: relative;
	font-family: Helvetica, sans-serif;
}

#login ul, #signup ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#message {
	font-size: 24px;
}

/*
 *
 * THEMES
 * 
 */

.center {
	text-align: center;
}

.box {
	background-color: rgba(255,255,255,0.7);
	border-radius: 25px;
	padding: 25px;

	position: absolute;
	top: 25%;
	left: 25%;
	margin-right: -50%;
}

.box h1 {
	color: black;
	font-size: 3em;
	font-family: 'Cabin', Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0px 0px 3px rgba(255,255,255,.5);
}

.box a {
	text-decoration: none;
	color: black;
	font-family: Helvetica, sans-serif;
}

.task {
	display: block;
}

.navbar {
	border-radius: 0px;
}

/*
 *
 * VENDORS
 *
 */
 
#progressbar span {
    top: -30px;
    left: 2%;
    position: relative;
    font-size: 1.4em;
    font-weight: bolder;
    font-family: monospace;
    color: #fff;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
}

progress::-webkit-progress-value {
    background-color: #329ad1;
}

/*
Error on signup.html
*/
span.error{
	color: red;
}

.challenge > div{
    width: 400px;
    height: 40px;
    position: relative;
}

.tile { 
    float: left;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
}

.tile.incomplete {
  opacity: .5; 
}

.tile.incomplete:hover {
  opacity: 1; 
}